{% load static %}
<div id="this-is-a-modal" class="hidden fixed inset-0 z-50 w-full flex flex-col items-center justify-center bg-black bg-opacity-50">
    {% include 'modal_add_product.html' %}
</div>
<script>
"use strict";

const modal = document.getElementById('this-is-a-modal');

function showModal() {
    modal.classList.remove('hidden');
}

function hideModal() {
    modal.classList.add('hidden');
}

async function addProduct() {

    await fetch("{% url 'main:add_product_ajax' %}", {
        method: "POST",
        body: new FormData(document.getElementById('product-form')),
    });

    document.getElementById("product-form").reset();
    hideModal();

    showToast('Berhasil menambahkan produk!', '', null);

    document.dispatchEvent(new CustomEvent('productadded'));

    return false;

}

document.getElementById("product-form").addEventListener("submit", function(e) {
    e.preventDefault();
    addProduct();
})

</script>
