{% extends 'base.html' %}
{% block content %}
<div class="text-nowrap">
    <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-6xl xl:text-8xl text-center font-bold text-blue-700">Halo Dunia Football Shop</h1>
    <p class="text-center">Beautiful Game, Beautiful Products</p>
    <button onclick="fetchAllAndRender()">Refresh</button>
</div> 
<div>
    {% if products %}
    <div id="product-grid" class="p-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    </div>
    {% else %}
    <div class="text-center w-full flex-col items-center justify-content-center bg-red-50">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Cow-on_pole%2C_with_antlers.jpeg" class="max-w-64 max-h-64 mx-auto"/>
        <p>Belum ada produk yang dijual.</p>
        {% if user.is_authenticated %}
        <a href=/add_product">Tambah Produk</a>
        {% endif %}
        </div>
    {% endif %}
</div>
<script>

// Configs
let CURRENT_USER_ID = "{{ user.id | default_if_none:'' }}";

const NULL_ID = "00000000-0000-0000-0000-000000000000";
const PRODUCT_API_ENDPOINT = "{% url 'main:show_json' %}";
const VIEW_PRODUCT_URL = "{% url 'main:view_product' '00000000-0000-0000-0000-000000000000' %}";
const EDIT_PRODUCT_URL = "{% url 'main:edit_product' '00000000-0000-0000-0000-000000000000' %}";
const DELETE_PRODUCT_URL = "{% url 'main:delete_product' '00000000-0000-0000-0000-000000000000' %}";

// DOM Elements
const productGrid = document.getElementById('product-grid');

// State Variables
let products = [];

function buildProductCard(product) {

    const article = document.createElement('article');
    article.className = 'bg-white text-overflow';

    const linkDetail = VIEW_PRODUCT_URL.replace(NULL_ID, product.id);

    const productImageHtml = product.thumbnail
        ? `<a href="${linkDetail}"><img src="${product.thumbnail}" alt="${product.name}" class="w-full h-full object-cover"/></a>`
        : `<div class="bg-black w-full h-full"></div>`

    let cardHtml = `
        <div class="aspect-square">
            ${productImageHtml}
        </div>
        <div class="p-5">
        <h2 class="text-center font-bold text-lg"><a href="${linkDetail}">${product.name}</a></h2>
        <p><span class="font-bold">Harga:</span> ${product.price}</p>
        <p>${product.description}</p>
        </div>
    `;

    if (CURRENT_USER_ID && Number(CURRENT_USER_ID) === Number(product.user_id)) {
        const linkEdit =
            `modalEditProduct.show({ productId: '${product.id}', productName: '${product.name}' })`;
        const linkDelete =
            `modalDeleteProduct.show({ productId: '${product.id}', productName: '${product.name}' })`;
        cardHtml += `
            <button onclick="${linkEdit}"><span class="text-blue-600 font-bold hover:text-white hover:bg-blue-600">Edit</span></button>
            <button onclick="${linkDelete}"><span class="text-red-500 font-bold hover:text-white hover:bg-red-500">Hapus</span></button>
        `;
    }

    article.innerHTML = cardHtml;
    return article;

}

function renderAllCards(products) {

    productGrid.innerHTML = '';
    products.forEach(product => {
        const cardElement = buildProductCard(product);
        productGrid.appendChild(cardElement);
    });

}

async function fetchAllProducts() {
    try {

        const response = await fetch(PRODUCT_API_ENDPOINT, {
            headers: { 'Accept': 'application/json' },
        });

        if (!response.ok) {
            throw new Error('Gagal mem-fetch data produk dari server');
        }

        const productData = await response.json();
        products = productData || [];

    } catch (error) {

        console.error('Error saat memuat produk: ' + error);
        throw error;

    }
}

function fetchAllAndRender() {

    fetchAllProducts().then(
        function(value) { renderAllCards(products) },
        function(error) {}
    );

}

function init() {
    fetchAllAndRender();
}

document.addEventListener('productadded', function() {
    fetchAllAndRender();
});

window.onload = init;
</script>
{% endblock content %}
