{% extends 'base.html' %}
{% block content %}
<h1 class="text-gray-500 sm:text-red-500 md:text-yellow-500 lg:text-green-500 xl:text-blue-500">Halo Dunia Football Shop</h1>

<p><span class="bold">Nama:</span> {{ name }}</p>
<p><span class="bold">Kelas:</span> {{ class }}</p>

{% if username %}
<br/>

<p>Halo, {{ username }}</p>
<p>Waktu login: {{ last_login }}</p>

{% endif %}

<a href="{% url 'main:add_product' %}"><button>+ Tambah Produk</button></a>

<hr />

<table>
{% for product in products %}

<tr>
    <td><a href="{% url 'main:view_product' product.id %}">
            <span class="bold">{{ product.name }}</span>
        </a></td>
    <td><span class="bold">{{ product.price }}</span></td>
</tr>

{% endfor %}
</table>

{% endblock content %}
