{% extends 'base.html' %}
{% block content %}
<div class="text-nowrap">
    <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-6xl xl:text-8xl text-center font-bold text-blue-700">Halo Dunia Football Shop</h1>
    <p class="text-center">Beautiful Game, Beautiful Products</p>
    <button onclick="showModal()">Tambah Produk dengan AJAX</button>
    <button onclick="showToast('Halo', 'Ini adalah toast', null)">Halo</button>
</div> 
<div>
    {% if products %}
    <div class="p-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
         {% for product in products %}
        <div class="bg-white text-overflow">
            <div class="aspect-square">
                {% if product.thumbnail %}
                <a href="{% url 'main:view_product' product.id %}"><img src="{{ product.thumbnail }}" alt="{{ product.name }}" class="w-full h-full object-cover"/></a>
                {% else %}
                <div class="bg-black w-full h-full"></div>
                {% endif %}
            </div>
            <div class="p-5">
            <h2 class="text-center font-bold text-lg"><a href="{% url 'main:view_product' product.id %}">{{ product.name }}</a></h2>
            <p><span class="font-bold">Harga:</span> {{ product.price }}</p>
            <p>{{ product.description }}</p>
            {% if user.is_authenticated  and product.user == user %}
            <a href="{% url 'main:edit_product' product.pk %}"><span class="text-blue-600 font-bold hover:text-white hover:bg-blue-600">Edit</span></a> · 
            <a href="{% url 'main:delete_product' product.pk %}"><span class="text-red-500 font-bold hover:text-white hover:bg-red-500">Hapus</span></a>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="text-center w-full flex-col items-center justify-content-center bg-red-50">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Cow-on_pole%2C_with_antlers.jpeg" class="max-w-64 max-h-64 mx-auto"/>
        <p>Belum ada produk yang dijual.</p>
        {% if user.is_authenticated %}
        <a href=/add_product">Tambah Produk</a>
        {% endif %}
        </div>
    {% endif %}
</div>
{% endblock content %}
