{% extends 'base.html' %}
{% block content %}

<div class="m-5 flex flex-col md:flex-row">

<div class="w-50%">
{% if product.thumbnail %}<img src="{{ product.thumbnail}}" class="w-full object-contain" />{% endif %}
</div>

<div class="w-50%">
<h1 class="text-xl font-bold">{{ product.name }}</h1>
<p><span class="bold">Dijual oleh: </span>{{ seller_name }}</p>
<p><span class="bold">Kategori: </span>{{ product.get_category_display }}</p>

<p><span class="bold">Harga: </span>{{ product.price }}</p>

<p>{{ product.description }}</p>

{% if user.is_authenticated  and product.user == user %}
<a href="{% url 'main:edit_product' product.pk %}"><span class="text-blue-600 font-bold hover:text-white hover:bg-blue-600">Edit</span></a>
<button onclick="modalDeleteProduct.show({ productId: '{{ product.id }}', productName: '{{ product.name}}' })"><span class="text-red-500 font-bold hover:text-white hover:bg-red-500">Hapus</span></a>
{% endif %}
</div>

</div>
{% endblock content %}
